<h2>Integrate with CI</h2>
<substep>Install Eagle Tester Jenkins Plugin</substep>
<ul>
    <li>Select the <code>Eagle Tester Plugin</code> in <code>Manage Jenkins &gt; Manage Plugins &gt; Available</code>
        and click <code>Download now and install after restart</code>.
    </li>
    <li>Check <code>Restart Jenkins when installation is complete and no jobs are running</code> to finish installation.
    </li>
</ul>

<substep>Configure username and password</substep>
<ul>
    <li>Under <code>Manage Jenkins &gt; Configure System</code>, enter <code>Username</code> and
        <code>Password</code> under the <code>Eagle Tester</code> section.
    </li>
    <li class="server">
        Change the <code>Eagle Server URL</code> to the URL where you ran eagle server.
    </li>
    <li>Enter <code>Path to adb</code> if adb is not in system's PATH.</li>
    <li>Press the <code>Verify button</code> to verify the username and password.</li>
    <img src="img/img_jenkins_user_1.PNG" class="stepimg cloud"/>
    <img src="img/img_jenkins_user_1_pro.PNG" class="stepimg server"/>
    <br/>
    <br/>
</ul>

<substep>Enable Eagle Tester in Jenkins project</substep>
<ul>
    <li>In project's <code>Configure &gt; Build Environment</code>, check <code>Eagle Tester</code> and
        populate the <code>Package name</code> field with the the package name of the application that
        is being tested.
        <a href="javascript://" id="popover_cmd" title="Steps to get the shell commands"
           data-toggle="modal" data-target="#shell">How to find the Package Name?</a>
    </li>
    <!--<ul>
        <!--<li>Put <code>https://tester.mobileenerlytics.com</code> in the <code>Eagle Server
            URL</code>
            field.
        </li>-->
    <!--<li><code>Current version</code> is the name given to a test run. This name will be used in
                the
                final report output by Eagle Tester.
            </li>
            <ul>
                <li>For git based projects, it is recommended to put
                    <code>$GIT_BRANCH:$GIT_COMMIT</code> in
                    <code>Current version</code>.
                </li>
            </ul>
            <li>Test case's energy consumption are compared to <code>Reference version</code>'s energy
                consumption. If a test's energy consumption exceeds reference version's test's energy
                consumption by a threshold than the test is failed.
            </li>-->
</ul>
<div id="shell" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Steps to find the Package Name:</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>
                        Install the app under test on a phone and then run the following in a command prompt or terminal
                        with your phone connected via USB and find your app to get its package name:<br>
                        <code>adb shell ps | grep ^u0</code>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</li>
<img src="img/jenkins_project_configure.PNG" class="stepimg"/>
<br/>
</ul>
