<h2>Prepare the phone</h2>
<substep>Root the phone</substep>
<ul>
    <li>All the battery tests are run on Android handsets (no emulators).
    </li>
    <li>The testing devices need to be rooted.
        <!--<a href="http://forum.supersu.com/topic/211/how-to-root/122" target="_blank">How to root your phone?-->
            <!--<span class="glyphicon glyphicon-new-window"></span></a>-->
        <a href="https://www.howtogeek.com/115297/how-to-root-your-android-why-you-might-want-to/" target="_blank">How to root your phone?
            <span class="glyphicon glyphicon-new-window"></span></a>
    </li>
    <li>
        Once the device is rooted, download and install a root manager app like
        <a href="http://www.supersu.com/" target="_blank">SuperSu <span
                class="glyphicon glyphicon-new-window"></span></a>.
    </li>
</ul>

<substep>Install Eagle Tester app</substep>
    <div class="row">
        <div class="col-md-4">
            <li>
                Install
                <a href="https://play.google.com/store/apps/details?id=com.mobileenerlytics.eagle.tester.app" target="_blank">
                    Eagle Tester app<span class="glyphicon glyphicon-new-window"></span></a> on the phone.
            </li>
        </div>
        <div class="col-md-8">
            <img src="img/google_play_install_app.png" class="phoneimg"/>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <li>
                Make sure automatic app updates are enabled to receive latest Eagle Tester app. Enable it in
                <code>Play Store > Settings > Auto-update apps</code>
            </li>
        </div>
        <div class="col-md-8">
            <img src="img/google_play_auto_update.png" class="phoneimg"/>
        </div>
    </div>

<substep>Grant root access to Eagle Tester app</substep>
        <div class="row">
            <div class="col-md-4">
                <li>
                    Eagle Tester app must have been downloaded on the phone.<br/>
                </li>
            </div>
            <div class="col-md-8">
                <img src="img/tester_app.png" class="phoneimg"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <li>
                    Launch the Tester app and grant it root access.<br/>
                </li>
            </div>
            <div class="col-md-8">
                <img src="img/su_request.png" class="phoneimg"/>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <li>
                    Switch to SuperSu app and go to <code>SuperSu &gt; Settings</code> to disable
                    <code>Re-authentication</code>.<br/>
                </li>
            </div>
            <div class="col-md-8">
                <img src="img/su_reauth.png" class="phoneimg"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <li>
                    Disable Super User notifications so toast messages don't clutter the screen.
                    <br/>
                </li>
            </div>
            <div class="col-md-8">
                <img src="img/su_notifications.png" class="phoneimg"/>
            </div>
        </div>

<!--<substep>Install Busybox</substep>-->
    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<li>-->
                <!--Download from the Play Store to enable many common UNIX/GNU utils on Android.-->
            <!--</li>-->
        <!--</div>-->
        <!--<div class="col-md-8">-->
            <!--<img src="img/busybox_app.png" class="phoneimg"/>-->
        <!--</div>-->
    <!--</div>-->

<!-- <substep>In-App Verification</substep>
    <div class="row">
        <div class="col-md-4">
            <li>
                Launch the app to verify phone is setup and ready to test.
            </li>
        </div>
        <div class="col-md-8">
            <img src="img/app_verification_screen.png" class="phoneimg"/>
        </div>
    </div> -->

<div class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-flash"></span>
    Uninstall all the apps on the phone except the one that will be tested to get accurate results.
</div>
