<h2><span class="server cloud">Optional:</span> Run a manual test</h2>

<substep>Configure account settings</substep>

<div class="row">
    <div class="col-md-4">
        <li>
            Go to settings tab and click <code>User Information</code> to enter your
            Eagle Tester username and password, then click <code>Authenticate</code>.
        </li>
        <!--<div class="col-md-8">-->
            <!--<img src="img/app_auth.png" class="phoneimg"/>-->
        <!--</div>-->
        <li class="server">
            Change the <code>URL</code> to the URL where you ran Eagle server.
        </li>
        <li>
            After authentication succeeds, set <code>Launch app on start</code>
        </li>
    </div>
    <div class="col-md-8">
        <img src="img/app_settings_pro.png" class="phoneimg"/>
        <!--<img src="img/app_settings_pro.png" class="phoneimg cloud"/>-->
        <img src="img/app_auth.png" class="phoneimg"/>
    </div>
</div>

<substep>Run and upload the test</substep>
<div class="row">
    <div class="col-md-4">
        <li>
            Navigate to <code>Test</code> tab and select <code>App Name</code> of the app you wish to test.
        </li>
        <li>
            Click <code>Start logging</code> to start measuring battery.
        </li>
        <li>
            Perform some operations on the app under test for 1-10 minutes.
        </li>
        <li>
            Come back to Eagle Tester app and click <code>Stop logging</code>.
        </li>
        <li>
            Click <code>Upload</code> to upload the logs to the server.
            Or, you can delete the logs or archive them to upload later.
        </li>
        <li>
            Head to
            <code class="manual cloud">https://tester.mobileenerlytics.com</code>
            <code class="server">eagle_tester_url</code>
            to see the battery consumption results of the run.
        </li>
    </div>
    <div class="col-md-8">
        <img src="img/app_test.png" class="phoneimg"/>
    </div>
</div>

<br>
