<h2>Write battery tests with Eagle Tester</h2>
    <substep>Configure build</substep>
    Add the following to <code>app/build.gradle</code> file<br/><br/>
    <pre><code class="gradle">repositories {
    jcenter()
}
dependencies{
    ...
    androidTestCompile 'com.mobileenerlytics:eagle-tester-logger:1.0.7@aar'
}</code></pre>
    <div id="use_eagle_tester_api_in_test_case">
        <substep>Use Eagle Tester APIs in Test Cases</substep>
        <p>Call <code>startMeasure(String name)</code> and <code>stopMeasure(String name)</code> in test cases: </p>
        <!--                        <p>Eagle Tester object has to be static and the same copy should be used across all the test classes.</p>-->
        <!--
            <div class="highlight highlight-source-groovy">
                <pre><code class="java">import com.mobileenerlytics.eagle.tester.logger.EagleTester;
public class BaseClass{
//...
public static EagleTester eagleTester;

}
</code></pre>
-->
        <pre><code class="java">import com.mobileenerlytics.eagle.tester.logger.EagleTester;
public class SampleTest{
  //...
    static EagleTester eagleTester;
    static Context context;

    @BeforeClass
    public static void setUp() {
        Context context = getInstrumentation().getTargetContext();
        //Context can also be obtained as:
        //Context context = InstrumentationRegistry.getTargetContext();
        eagleTester = new EagleTester(context, "my.package.name");
    }

    @Test
    public void testcase1() throws Exception {
        String name = "testcase1";
        eagleTester.startMeasure(name);
        //Generate a test scenario.
        //...
        eagleTester.stopMeasure(name);
    }

    @AfterClass
    public static void tearDown() throws Exception {
        eagleTester.finish();
        // ..
    }
}
        </code></pre>
                <p><a href="https://mobileenerlytics.bitbucket.io/1.0.7/" target="_blank">Eagle tester full API reference <span
                        class="glyphicon glyphicon-new-window"></span></a></p>

    </div>

    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-flash"></span> Write test scenarios that are at least 3 minutes long for
        accurate test results.
    </div>


<substep>Run Battery Tests</substep>
<ul>
    <li>
        Connect the prepared device with the Jenkins machine that will run Eagle Tester battery tests.
    </li>
    <li>Finally make sure that you install and run the tests in the Jenkins' Build section.</li>
    <ul>
        <li>The image below shows how to install the app and the tests.</li>
        <img src="img/jenkins_build-2.png" class="stepimg"/>
        <li>The image below shows how to run the tests. Multiple commands can be given at a time to run multiple tests.
            <a href="javascript://" id="popover_cmd" title="Steps to get the shell commands"
               data-toggle="modal" data-target="#shell">How to get the adb shell command?</a>
        </li>
        <img src="img/jenkins_build-3.png" class="stepimg"/>
    </ul>
</ul>
<div id="shell" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Steps to get the commands:</h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Open app project in Android Studio.</li>
                    <li>Run the project which installs the app on the phone.</li>
                    <li>Run the android tests on the phone.</li>
                    <li>When you run the tests, the commands that are executed to run the tests are
                        displayed in the run window in the Android Studio.
                    </li>
                    <!--<li>The image below shows the android studio window that displays the command.</li>-->
                    <li>This command has to be pasted in the execute shell section of jenkins.</li>
                    <div>
                        <img src="img/adb_cmd.PNG" align="center"/>
                    </div>

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
