<h2>View Energy Reports</h2>
<p>Login to Eagle Tester server to view energy
    reports:
    <code class="cloud">https://tester.mobileenerlytics.com/login.html</code>
    <code class="server">eagle_tester_url</code>
</p>
<p>To bootstrap the dashboard, run battery test in Jenkins from <code>origin/master</code> branch and from
    your release branches such as <code>origin/release*</code>.</p>
