<h2>Create properties file</h2>
<substep>Create an <code>application.properties</code> file similar to the one below.</substep>
<pre># Eagle Tester configuration
<userconfig>proUsername="your username"</userconfig></pre>

<p>Fill in the <code>proUsername</code> property with the username used for signing up with the Eagle Tester.</p>

<h2>Configure database</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#atlas">Mongo Atlas</a></li>
    <li><a data-toggle="tab" href="#localdb">Local database</a></li>
</ul>

<div class="tab-content">
    <div id="atlas" class="tab-pane fade in active">
        <substep>Configuring Mongo Atlas </substep>
        <li>Login to <a href="http://mbsy.co/mongodb/33830448">MongoDb Atlas</a> and create a new cluster. </li>
        <li>Once the cluster gets created, click <code>Connect</code> > <code>Connect Your Application</code> >
            <code>Standard connection string</code> and use the
            <code>URI connection string</code> in the <code>application.properties</code> file as follows:</li><br/>
<pre># Database configuration
<userconfig>uri=mongodb+srv://admin:password@cluster0-kbqjm.mongodb.net/eagle_db
database=eagle_db
</userconfig></pre>
    </div>
    <div id="localdb" class="tab-pane fade">
        <substep>Configuring local database</substep>
        <li>Follow the steps <a href="https://docs.mongodb.com/v3.2/installation/">here</a> to install and run MongoDb.</li>
        <li>Add the following to the <code>application.properties</code> file.</li><br/>
<pre># Database configuration. Requires docker 18.03+
<userconfig>uri=mongodb://host.docker.internal:27017/eagle_db
database=eagle_db
</userconfig></pre>
    </div>

<h2>Configure Storage</h2>

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#amazons3">Amazon S3</a></li>
    <li><a data-toggle="tab" href="#localstorage_docker">Local storage</a></li>
    <!--<li><a data-toggle="tab" href="#localstorage_debian">Local storage for Debian server</a></li>-->
</ul>

<div class="tab-content">
    <div id="amazons3" class="tab-pane fade in active">
        <substep>Configure Amazon S3</substep>
        <li>Create an account at <a href="http://aws.amazon.com/">Amazon AWS</a>.</li>
        <li>In your <a href="http://aws.amazon.com/s3">S3 account</a>, create a bucket.</li>
        <li>In your <a href="https://console.aws.amazon.com/iam/home#/">IAM resources</a>, create or update one user, add permission to <code>AmazonS3FullAccess</code>.</li>
        <li>Add the following to the <code>application.properties</code> file.</li><br/>
<pre># S3 configuration
<userconfig>aws.access_key_id = "your aws access key id" # in credentials of this IAM user
aws.secret_access_key = "your aws secret access key"  # in credentials of this IAM user
aws.s3.bucket_name = "your bucket name"</userconfig></pre>
    </div>
    <div id="localstorage_docker" class="tab-pane fade">
        <substep>Configure local storage</substep>
        <li>Add the following to the <code>application.properties</code> file.</li><br/>
        <pre># Eagle storage folder
outputDir = /app/eagleFolder/</pre>
    </div>
    <!--<div id="localstorage_debian" class="tab-pane fade">
        <substep>Configure local storage</substep>
        <li>Create a folder <code>eagleFolder</code> to keep all the files.</li>
        <li>Add the following to the <code>application.properties</code> file.</li><br/>
<pre># Eagle storage folder
<userconfig>outputDir = "full path to eagleFolder"</userconfig></pre>
    </div>-->
</div>

<h2>Run the server</h2>

<!--<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#docker">Docker</a></li>
    <li><a data-toggle="tab" href="#debian">Debian</a></li>
</ul>-->

<!--<div class="tab-content">
    <div id="docker" class="tab-pane fade in active">-->
            <substep>Installing with docker</substep>
            <li>Download docker and install it from <a href="https://docs.docker.com/">here</a>.</li>
            <li>Find latest server's docker image</li><br/>
<pre><code>curl 'https://registry.hub.docker.com/v2/repositories/mobileenerlytics/eagle-tester-server/tags/' | grep -o '\"name\": \"[^,]*\"'</code></pre>
            <li>Run the server's docker image</li><br/>
<pre><code>docker run -p 3001:38673 -v <userconfig>path to the folder containing application.properties file created above</userconfig>:/config/ mobileenerlytics/eagle-tester-server:<userconfig>latest version from previous step</userconfig> -dbconfig /config/application.properties</code></pre>

            <li>Navigate to <code>http://localhost:3001</code> using a browser to verify that the server has started running.</li>
    <!--</div>
    <div id="debian" class="tab-pane fade">
        <substep>Installing using debian</substep>
        <li>Add Mobile Enerlytics' debian repository</li>
        <code>echo "deb https://dl.bintray.com/mobileenerlytics/debian wheezy main" | sudo tee -a /etc/apt/sources.list</code>
        <code>sudo apt-get update</code>
        <li>Install the server</li>
        <code>sudo apt-get install eagle-server</code>
        <li>Run the server</li>
        <code>eagle-server -dbconfig <path>"path to the application.properties file created above"</path></code>
        <li>Navigate to <code>http://localhost:3001</code> using a browser to verify that the server has started running.</li>
    </div>
</div>-->
