<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="par"></script>
    <!--<script type="text/javascript" src="/js/utils.js"></script>-->

    <link href="css/profile.css" rel="stylesheet">
    <script src="js/profile.js"> </script>
</head>


<body>


<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <!--<A href="edit.html" >Edit Profile</A>-->
            <!--<A href="edit.html" >Logout</A>-->
            <br>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 id="username" class="panel-title"></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Email:</td>
                                    <td id="email"></td>
                                </tr>

                                <tr>
                                    <td>Organization:</td>
                                    <td id="organization"></td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Registration Date:</td>
                                    <td id="registrationTime"></td>
                                </tr>

                                <tr>
                                    <td>Expired date:</td>
                                    <td id="expirationTime"></td>
                                </tr>

                                </tr>

                                </tbody>
                            </table>

                            <button type="button" class="btn btn-primary center-block" id="unSubscribeButton">unSubscription</button>
                            <span id="msg" style="color:red"></span>
                            <!--<button type="button" class="btn btn-primary center-block" onclick="return handleSignup()">Submit</button>-->
                            <!--<a href="../payment/cancel" class="btn btn-primary">cancel the subscription</a>-->
                        </div>
                    </div>
                </div>
                <!--<div class="panel-footer">-->
                    <!--<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>-->
                    <!--<span class="pull-right">-->
                            <!--&lt;!&ndash;<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>&ndash;&gt;-->
                            <!--<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>-->
                        <!--</span>-->
                <!--</div>-->

            </div>
        </div>
    </div>
</div>
<div id="foot">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-5 column">
                <a href="index.php"><img alt="Mobile Enerlytics" src="img/logo-50.png"></a>
                <br/> Copyright &copy; 2016 Mobile Enerlytics. All rights reserved.
            </div>
            <div class="col-md-2 column">
                <ul class="list-unstyled">
                    <li><a href="https://mobileenerlytics.com/solutions.php">Products</a></li>
                    <li><a href="https://mobileenerlytics.com/pricing.php">Pricing</a></li>
                    <li><a href="https://mobileenerlytics.com/news.php">Press</a></li>
                    <!--					<li><h4><a href="resources.php">Resources</a></h4></li>-->
                </ul>
            </div>
            <div id="foot-divide" class="col-md-2 column">
                <ul class="list-unstyled">
                    <li><a href="https://mobileenerlytics.com/blog" target="_blank">Blog</a></li>
                    <li><a href="https://mobileenerlytics.com/contact.php">Contact us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                FOLLOW US ON:
                <a href="https://twitter.com/EnerMoby"><img src="assets/twitter-icon.png" /></a>
                <a href="https://medium.com/@mobyener/"><img src="assets/medium-icon.png" /></a>
                &#35;drainmatters
            </div>
        </div>
    </div>
</div>

</body>
