.nav-divider {
    height:80px;
}
.divider {
    height:50px;
}
.bg {
	background: -moz-linear-gradient(left, rgba(72,135,210,1) 0%, rgba(229,229,229,0.01) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(72,135,210,1)), color-stop(100%,rgba(229,229,229,0.01))); 
	background: -webkit-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); 
	background: -o-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); 
	background: -ms-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); 
	background: linear-gradient(to right, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4887d2', endColorstr='#03e5e5e5',GradientType=1 ); 
}
img{
	max-width:100%;
}
.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #bfbfbf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.label.important {
	background-color: #c43c35;
}
.label.warning {
	background-color: #f89406;
}
.label.success {
	background-color: #46a546;
}
.label.notice {
	background-color: #62cffc;
}
.glyphicon-white {
	color: #fff;
}
.req:after{
	content:"*";
	color:red;
}
@media (min-width: 768px) {
	.container-small {
		width: 500px;
	}
	.container-large {
		width: 970px;
	}
}
@media (min-width: 992px) {
	.container-small {
		width: 500px;
	}
	.container-large {
		width: 1170px;
	}
}
@media (min-width: 1200px) {
	.container-small {
		width: 700px;
	}
	.container-large {
		width: 1500px;
	}
}
.container-small, .container-large {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
