.nav-divider {
    height:80px;
}
.divider {
    height:50px;
}

.bg {
	background: -moz-linear-gradient(left, rgba(72,135,210,1) 0%, rgba(229,229,229,0.01) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(72,135,210,1)), color-stop(100%,rgba(229,229,229,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4887d2', endColorstr='#03e5e5e5',GradientType=1 ); /* IE6-9 */
}

.jumbotron {
  height: 350px;
  color: white;
  /*text-shadow: #444 0 1px 1px;*/
  background:transparent;
}

#contact {
	background: radial-gradient(#36414e, #253241);
	color: white;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#contact a {
  color:#50B135;
}

.panel .vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none
}
.panel-heading{
	text-align:center;
	color: white;
}
.thumbnail {
	text-align: center;
	border: 0 none;
	box-shadow: none;
}

.btn-pie{
	background-color: rgb(64,146,0);
	color: white;
	border-color: #adadad;
}
.btn-timeline{
	background-color: rgb(57,134,192);
	color: white;
	border-color: #adadad;
}
.btn-method{
	background-color: #2a9494;
	color: white;
	border-color: #adadad;
}
.panel{
	margin-top: 50px;
}
.panel-pie{
	border-color: #adadad;
}
.panel-timeline{
	border-color: #adadad;
}
.panel-method{
	border-color: #adadad;
}
.panel-pie .panel-heading{
	background: rgb(64,146,0);
	border-color: #adadad;
}
.panel-timeline .panel-heading{
	background-color: rgb(57,134,192);
	border-color: #adadad;
}
.panel-method .panel-heading{
	background-color: #2a9494;
	border-color: #adadad;
}
img{
	max-width:100%;
}

.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #bfbfbf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.label.important {
	background-color: #c43c35;
}
.label.warning {
	background-color: #f89406;
}
.label.success {
	background-color: #46a546;
}
.label.notice {
	background-color: #62cffc;
}
.req:after{
	content:"*";
	color:red;
}

@media (min-width: 768px) {
	.container-small {
		width: 500px;
	}
	.container-large {
		width: 970px;
	}
}
@media (min-width: 992px) {
	.container-small {
		width: 500px;
	}
	.container-large {
		width: 1170px;
	}
}
@media (min-width: 1200px) {
	.container-small {
		width: 700px;
	}
	.container-large {
		width: 1500px;
	}
}

.container-small, .container-large {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
