/*body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	background-color: #fff;
	width: 960px;
	height: 700px;
	margin-top: 10px;
}*/

/*#main {
width: 1200px;
}*/

#sidebar {
float: right;
width: 250px;
height: 750px;
overflow:auto;
}

/*#sequence {
float: left;
width: 600px;
height: 70px;
}*/

#legend {
padding: 10px 0 0 3px;
}

#sequence text, #legend text {
	font-weight: 600;
fill: #fff;
}

#chart {
float: left;
width: 700px;
position: relative;
}

#chart path {
stroke: #fff;
}

.center-text {
position: absolute;
top: 260px;
left: 290px;
width: 180px;
text-align: center;
color: #666;
/*z-index: -1;*/
}

#percentage {
	font-size: 2.5em;
}

#total-large {
    font-size: 2.5em;
}
