body{
	background-color:#FFF;
}

/*#info{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	width:1200px;
	text-align:center;
}*/
	/*height:50px;
	background-color:#e6EEEE;
	background-image:url('../imgs/Purdue.png');
	background-repeat:no-repeat;
	background-size:150px 150px;*/

/*#piediv{
	float:left;
	position:fixed;
	width: 350px; 
}*/

/*#graphdiv{
	position:relative;
	left: 350px;
	margin-right: auto;
	height:2100px;
	width:1000px;
	text-align:center;
}*/

/*
#CPU-0{
	position:absolute;
	top:0;
	left:20px;
}

#CPU-1{
	position:absolute;
	top:350px;
	left:20px;
}

#NET{
	position:absolute;
	top:700px;
	left:20px;
}

#SD{
	position:absolute;
	top:1050px;
	left:20px;
}

#GPS{
	position:absolute;
	top:1400px;
	left:20px;
}

#SCREEN{
	position:absolute;
	top:1750px;
	left:20px;
}

#GPU{
	position:absolute;
	top:2100px;
	left:20px;
}
*/

/* tables */
/*table#methodtable {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}*/
/*table#methodtable thead tr th, table#methodtable tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}*/
table#methodtable thead tr .header {
	background-image: url(../imgs/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
/*table#methodtable tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table#methodtable tbody tr.odd td {
	background-color:#F0F0F6;
}*/
table#methodtable thead tr .headerSortUp {
	background-image: url(../imgs/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table#methodtable thead tr .headerSortDown {
	background-image: url(../imgs/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table#methodtable thead tr .headerSortDown, table#methodtable thead tr .headerSortUp {
background-color: #8dbdd8;
}

table.tableinfo{
	text-align:left;
	margin-left:180px;
	margin-right:auto;
	padding: 0px;
}

table.tableinfo td{
	padding-left: 40px;
}

.jump{
    background-color: lemonchiffon;
}

/* Chart */
#chart_div{
	position:relative;
	margin-left: auto;
	margin-right: auto;
	height:500px;
	width:900px;
	text-align:center;
}

/*.stack{
	float:right;
	width:250px;
	height:320px;
	overflow:auto;
	text-align: center;
}*/

/*.graph.collapse.in{
	float:left;
	width:1000px;
	height:320px;
}

.component{
	float:left;
	clear:left;
}*/

#help{
	text-align: center;
}

a:link, a:visited{
	color:#2a9494;
	text-decoration: none;
}
#current{
	font-weight: bold;
	text-transform: uppercase;
}
.nav-divider {
    height:50px;
}
