/*

Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev

*/
/*--------------- Colors ------------*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #666666;
  color: #F7F7F7; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #366E99; }

.hljs-template-tag {
  color: #CCCCCC; }

.hljs-number {
  color: #88C442; }

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #366E99; }

.hljs-literal {
  color: #458BCA; }

.hljs-subst {
  color: #888888; }

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #458BCA; }

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #F05A2B; }

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #D84F2A; }

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #76A538; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

/*# sourceMappingURL=me-hljs.css.map */
