#foot {
  background: black;
  color: #CCCCCC;
  padding-top: 20px;
  padding-bottom: 20px; }

#foot a {
  color: #CCCCCC; }

#foot a:hover:focus:visited {
  color: #CCCCCC; }

#foot-divide {
  border-right-style: dotted;
  border-right-color: #CCCCCC;
  border-right-width: 1px;
  max-height: 100%; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

