.steps-form {
    display: table;
    width: 100%;
    position: relative;
    margin-top: -19px;
}
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #7283a7; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
/*.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }*/
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 70px;
    height: 70px;
    border: 2px solid #192B33;
    background-color: white !important;
    color: #192B33;
    border-radius: 50%;
    padding-top: 17px;
    margin-top: -23px;
    margin-bottom: 25px;
    font-size: 25px;
}
.btn-selected {
    border: 2px solid #458BCA !important;
    color: #458BCA !important;
    background-color: white !important;
}
.steps-form .steps-row .steps-step .btn-circle:hover {
    border: 2px solid #458BCA;
    color: #458BCA !important;
    background-color: white !important; }
.steps-form .steps-row .steps-step .btn-circle .fa {
    font-size: 2.5rem; }