.divider {
    height:50px;
}

.bg {
	background: -moz-linear-gradient(left, rgba(72,135,210,1) 0%, rgba(229,229,229,0.01) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(72,135,210,1)), color-stop(100%,rgba(229,229,229,0.01))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(72,135,210,1) 0%,rgba(229,229,229,0.01) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4887d2', endColorstr='#03e5e5e5',GradientType=1 ); /* IE6-9 */
}

.jumbotron {
  height: 350px;
  color: white; 
  /*text-shadow: #444 0 1px 1px;*/
  background:transparent;
}

#contact {
	background: radial-gradient(#36414e, #253241);
	color: white;
	margin-top:50px;
	padding-top:20px;
	padding-bottom:20px;
}

#contact a {
  color:#50B135;
}

.panel .vcenter{
	display: inline-block;
	vertical-align: middle;
	float: none
}
.panel-heading{
	text-align:center;
	color: white;
}
.thumbnail {
	text-align: center;
	border: 0 none;
	box-shadow: none;
}

.btn-pie{
	background-color: rgb(64,146,0);
	color: white;
	border-color: #adadad;
}
.btn-timeline{
	background-color: rgb(57,134,192);
	color: white;
	border-color: #adadad;
}
.btn-method{
	background-color: #2a9494;
	color: white;
	border-color: #adadad;
}
.panel{
	margin-top: 50px;
}
.panel-pie{
	border-color: #adadad;
}
.panel-timeline{
	border-color: #adadad;
}
.panel-method{
	border-color: #adadad;
}
.panel-pie .panel-heading{
	background: rgb(64,146,0);
	border-color: #adadad;
}
.panel-timeline .panel-heading{
	background-color: rgb(57,134,192);
	border-color: #adadad;
}
.panel-method .panel-heading{
	background-color: #2a9494;
	border-color: #adadad;
}
.panel-eprof{
	border-color: #adadad;
}
.panel-eprof .panel-heading{
	background: rgba(72,135,210,0.9);
	border-color: #adadad;
}

img{
	max-width:100%;
}
.essert-img{
border: 2px solid #adadad;
padding:5px;
margin:5px;
width:100%;
}
/*.label {
	padding: 1px 3px 2px;
	font-size: 9.75px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	white-space: nowrap;
	background-color: #bfbfbf;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.label.important {
	background-color: #c43c35;
}
.label.warning {
	background-color: #f89406;
}
.label.success {
	background-color: #46a546;
}
.label.notice {
	background-color: #62cffc;
}*/
.req:after{
	content:"*";
	color:red;
}
table, td, th {
    border: 1px solid #adadad;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th {
    padding: 10px;
}
td {
    padding: 5px;
}
.tabs, .tab_container { padding: 0 }
.tabs li { position: relative; float: left; list-style: none; }
.tabs li a { padding: 5px 15px 0 15px; margin-right: 2px; border-radius: 4px 4px 0 0; border: 1px solid gray; border-bottom-color: transparent; }
.tabs .active a, .tabs .active a:hover { background-color: #fafafa; border: 1px solid gray; border-bottom-color: transparent; cursor: default; text-decoration: none; }
.tab_container { clear: both; background-color: #fafafa; } .tab_content { display: none; padding: 10px; border: 1px solid gray; list-style: none; }
.tab_container .active { display: block; }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 12px 16px 0px 16px;}

.modal-footer {
    padding: 0px 16px 0px 16px;;
    color: white;
}






