@charset "UTF-8";
/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Links and buttons ------------*/
a {
  font: "Open Sans", sans serif 14px bold;
  color: #458BCA; }

a:hover {
  font: "Open Sans", sans serif 14px bold;
  color: #366E99; }

.btn-base, .btn-primary, .btn-primary:hover, .btn-secondary, .btn-secondary:hover {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  border: 0px; }

.btn-primary, .btn-primary:hover {
  background-color: #F05A2B;
  border-color: #F05A2B;
  text-color: white; }

.btn-primary:hover {
  background-color: #D84F2A; }

.btn-secondary, .btn-secondary:hover {
  border-color: #F05A2B;
  text-color: #F05A2B;
  opacity: 1; }

.btn-secondary:hover {
  text-color: #D84F2A;
  border-color: #D84F2A; }

.btn-secondary-white, .btn-secondary-white:hover {
  border-color: white;
  text-color: white;
  opacity: 1; }

.btn-secondary-white:hover {
  border-color: #F7F7F7;
  text-color: #F7F7F7; }

.btn-link {
  text-color: #458BCA;
  text-transform: uppercase; }

.btn-link:hover {
  text-color: #366E99;
  text-transform: uppercase; }

/*--------------- Colors ------------*/
.grey-text {
  color: #888888; }

.grey-darkest-text {
  color: #666666; }

.color-first-text {
  color: #88C442; }

.color-second-text {
  color: #F05A2B; }

.grey-lightest-div {
  background-color: #F7F7F7; }

.grey-div {
  background-color: #EEEEEE; }

.color-first-div {
  background-color: #88C442;
  color: white; }

@media (min-width: 992px) {
  .slant-first-div {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 15vw solid #fff; } }

@media (min-width: 992px) {
  .slant-container {
    margin-top: -15vw; } }
@media (min-width: 1200px) {
  .slant-container {
    margin-top: -12vw; } }

/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
.panel-heading {
  text-transform: uppercase;
  color: white;
  opacity: 1;
  font-family: "Open Sans", sans serif bold;
  font-size: 24px;
  text-align: center; }

.panel-primary {
  border-color: #88C442; }

.panel-primary .panel-heading {
  background-color: #88C442;
  border-color: #88C442; }

.panel-secondary {
  border-color: #458BCA; }

.panel-secondary .panel-heading {
  background-color: #458BCA;
  border-color: #458BCA; }

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.panel-body li {
  padding-left: 1em;
  text-indent: -1em; }

.panel-body li:before {
  content: '✓';
  padding-right: 5px; }

.thumbnail {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px; }

.thumbnail .caption {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px; }

@media (min-width: 768px) {
  .jumbotron {
    width: 50%;
    text-align: left;
    margin-left: 6%; } }
@media (max-width: 767px) {
  .jumbotron {
    padding: 0px; } }

@media (max-width: 767px) {
  .jumbotron p {
    font-size: 16px;
    color: white; } }

/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
/*--------------- Links and buttons ------------*/
a {
  font: "Open Sans", sans serif 14px bold;
  color: #458BCA; }

a:hover {
  font: "Open Sans", sans serif 14px bold;
  color: #366E99; }

.btn-base, .btn-primary, .btn-primary:hover, .btn-secondary, .btn-secondary:hover {
  height: 40px;
  padding-left: 40px;
  padding-right: 40px;
  text-transform: uppercase;
  border: 0px; }

.btn-primary, .btn-primary:hover {
  background-color: #F05A2B;
  border-color: #F05A2B;
  text-color: white; }

.btn-primary:hover {
  background-color: #D84F2A; }

.btn-secondary, .btn-secondary:hover {
  border-color: #F05A2B;
  text-color: #F05A2B;
  opacity: 1; }

.btn-secondary:hover {
  text-color: #D84F2A;
  border-color: #D84F2A; }

.btn-secondary-white, .btn-secondary-white:hover {
  border-color: white;
  text-color: white;
  opacity: 1; }

.btn-secondary-white:hover {
  border-color: #F7F7F7;
  text-color: #F7F7F7; }

.btn-link {
  text-color: #458BCA;
  text-transform: uppercase; }

.btn-link:hover {
  text-color: #366E99;
  text-transform: uppercase; }

/*--------------- Colors ------------*/
.grey-text {
  color: #888888; }

.grey-darkest-text {
  color: #666666; }

.color-first-text {
  color: #88C442; }

.color-second-text {
  color: #F05A2B; }

.grey-lightest-div {
  background-color: #F7F7F7; }

.grey-div {
  background-color: #EEEEEE; }

.color-first-div {
  background-color: #88C442;
  color: white; }

@media (min-width: 992px) {
  .slant-first-div {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 15vw solid #fff; } }

@media (min-width: 992px) {
  .slant-container {
    margin-top: -15vw; } }
@media (min-width: 1200px) {
  .slant-container {
    margin-top: -12vw; } }

/*--------------- Typography ------------*/
h1 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 48px; }
  @media (max-width: 991px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-family: "Open Sans", sans serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  @media (max-width: 991px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "Open Sans", sans serif;
  font-size: 16px; }

body {
  font-family: "Open Sans", sans serif;
  font-size: 15px; }

/*--------------- Colors ------------*/
.panel-heading {
  text-transform: uppercase;
  color: white;
  opacity: 1;
  font-family: "Open Sans", sans serif bold;
  font-size: 24px;
  text-align: center; }

.panel-primary {
  border-color: #88C442; }

.panel-primary .panel-heading {
  background-color: #88C442;
  border-color: #88C442; }

.panel-secondary {
  border-color: #458BCA; }

.panel-secondary .panel-heading {
  background-color: #458BCA;
  border-color: #458BCA; }

.panel-body ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

.panel-body li {
  padding-left: 1em;
  text-indent: -1em; }

.panel-body li:before {
  content: '✓';
  padding-right: 5px; }

.thumbnail {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0px; }

.thumbnail .caption {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0px; }

@media (min-width: 768px) {
  .jumbotron {
    width: 50%;
    text-align: left;
    margin-left: 6%; } }
@media (max-width: 767px) {
  .jumbotron {
    padding: 0px; } }

@media (max-width: 767px) {
  .jumbotron p {
    font-size: 16px;
    color: white; } }

.modal-footer {
  margin-top: 0px; }

.bv-form .help-block {
  color: black;
  opacity: 0.87; }

.jumbotron {
  background: transparent; }

.req:after {
  content: "*";
  color: red; }

.navbar {
  background: transparent;
  min-height: 50px;
  border: 0px; }

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #458BCA; }

/* Navbar sandwich shown on phones(xs) */
.navbar-toggle {
  margin-top: 22px; }

hr {
  border-top-color: black; }

.thumbnail > li {
  float: none; }

#foot {
  background: black;
  color: #CCCCCC;
  padding-top: 20px;
  padding-bottom: 20px; }

#foot a {
  color: #CCCCCC; }

#foot a:hover:focus:visited {
  color: #CCCCCC; }

#foot-divide {
  border-right-style: dotted;
  border-right-color: #CCCCCC;
  border-right-width: 1px;
  max-height: 100%; }

.section {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: auto; }

.divider {
  height: 30px; }

.big-divider {
  height: 120px; }

.carousel-inner {
  min-height: 250px; }

.carousel-inner > .item > img {
  margin: auto;
  opacity: 0.8; }

.carousel-indicators .active {
  /*background-color: #73C3CE;*/
  background-color: #88C442; }

.carousel-indicators li {
  background-color: rgba(70, 70, 70, 0.25); }

.carousel-control.left,
.carousel-control.right {
  background-image: none; }

.carousel-control {
  font-size: 100px;
  top: 30%;
  color: #B0AAAA; }

.img-face {
  border-radius: 10%; }

@media (min-width: 992px) {
  section {
    height: 650px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto; } }

.thumbnail .img-div {
  height: 65px;
  max-width: 60%;
  margin: 0 auto; }

.thumbnail iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.img-div img {
  max-width: 100%; }

#demo {
  background-color: #F05A2B;
  position: fixed;
  z-index: 100;
  right: 0px;
  bottom: 0px;
  border-color: #D84F2A; }

.icon.md-18 {
  font-size: 18px; }

.icon.md-24 {
  font-size: 24px; }

.icon.md-36 {
  font-size: 36px; }

.icon.md-48 {
  font-size: 48px; }

.icon.md-96 {
  font-size: 96px; }

h1.primary-h1 {
  color: #88C442; }

.table-div {
  display: table; }

.table-div > div {
  display: table-cell;
  min-height: 100%;
  height: 100%;
  float: none; }

pre userconfig {
  color: #F05A2B;
}

code {
  color: #F05A2B;
  background-color: #F7F7F7; }

 .container {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -115px;
 }
 .container:after {
    content: "";
    display: block;
 }
 #signup {
    margin-left: 10%;
    /*margin-top: 2%;*/
    padding: 0px;
 }
 .site-footer, .container:after {
    height: 115px;
 }
 .wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -114px;
 }
 .wrap:after {
    content: "";
    display: block;
 }
 #signUp {
    margin-left:35%;
    margin-top: 5%;
    padding:0px;
    z-index: 2;
    overflow: auto;
    float: left;
 }
 #login {
    margin-left:22%;
    margin-top: 5%;
    padding: 0px;
    z-index: 1;
    float: left;
 }
 #reset {
     margin-left: 42%;
     margin-top: 5%;
     padding: 0px;
     z-index: 2;
     float: left;
 }

 .site-footer, .wrap:after {
    height: 115px;
 }





/*# sourceMappingURL=style.css.map */
