<form action="../api/upload/version_energy" method="post" enctype="multipart/form-data">
    <input hidden name="device" value="test"/>
    <p>Trace file : <input type="file" name="file"/></p>
    <p>Branch: <input type="text" name="branch" value="origin/master"/></p>
    <p>Commit: <input type="text" name="commit" value="J1"/></p>
    <p>Package Name: <input type="text" name="pkg" value="com.pandora.android"/></p>
    <p>Author Name: <input type="text" name="author_name" value="Abhilash Jindal"/></p>
    <p>Author Email: <input type="text" name="author_email" value="ajindal@mobileenerlytics.com"/></p>
    <p>Device: <input type="text" name="device" value="shamu"/></p>
    <p>Project: <input type="text" name="project_name" value="default"/></p>
    <p>Symbolic: <input type="checkbox" name="symbolic" value="true" checked>
    <p><input type="submit" value="submit"/></p>
</form>
